{% extends 'base.html' %}

{% block content %}

<h1 class="title"> All Shop </h1>

<div class="shop_list">
{% for shop in shops %}
<div class="page-wrapper">
  <div class="page-inner">

      <div class="shop-wrapper">       
      <div> 
      {% load static %}
      <img class="shop-pic" width="auto" height="200px" src="{% static shop.logo|cut:'main_app/static/' %}" />
    </div>  
    <br>
      <div class="box-up">
        <span class="size">{{ shop.name }}</span>
      <p>CR Number: {{ shop.CR }}</p>
      <p>Email: {{ shop.Email }}</p>
      <p>Address: {{ shop.address }}</p>
      <p>Phone Number: {{ shop.phone }}</p>
    </div>
  </a>
  </div>
  </div>
{% endfor %}
</div>

{% endblock %}