{% extends 'base.html' %}

{% block content %}

<h1> All Shop </h1>

{% for shop in shops %}
  <div class="card" >
    <a href=" {% url 'detail' shop.id %}">
    <div class="container">
      <span>{{ shop.name }}</span>
      <p>CR Number: {{ shop.CR }}</p>
      <p>Email: {{ shop.Email }}</p>
      <p>Address: {{ shop.address }}</p>
      <p>Phone Number: {{ shop.phone }}</p>
    </div>

    <div> 
      {% load static %}
      <img width="100px" height="100px" src="{% static shop.logo|cut:'main_app/static/' %}" />
    </div>

  </a>
  </div>
{% endfor %}


{% endblock %}