{% extends 'base.html' %}
{% block content %}

<h1>Products list</h1>

{% for product in product_list %}
  <div class="container page-wrapper">
    <div class="page-inner">
      <div class="row">
        <div class="el-wrapper">
          <div class="box-up">
            {% load static %}
            <img height="100px" src="{% static product.image|cut:'main_app/static/' %}">
            <div class="img-info">
              <div class="info-inner">
                <span class="p-name">{{ product.name }}</span>
                <span class="p-company">{{product.shop}}</span>
              </div>
              <div class="a-size">Karat : <span class="size">{{ product.karat }}</span></div>
            </div>
          </div>
  
          <div class="box-down">
            <div class="h-bg">
              <div class="h-bg-inner"></div>
            </div>
  
            <a class="cart" href="#">
              <span class="price">{{ product.price }}</span>
              <!-- <span class="add-to-cart">
                  <form action="{% url 'add_to_cart' product.id  user.id product.shop.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="txt">Add To Cart </button>
                  </form>  -->
                <!-- <span class="txt">Add To cart</span> -->
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}