{% extends 'base.html' %}
{% block content %}

<h1>Show Profile</h1>
<div>
  <div>   
    <p> User name: {{ user.username }}</p>
    <span> First name :{{ user.first_name }}</span>
    <p> Last name: {{ user.last_name }}</p>
    <p> Email: {{ user.email }}</p>
  </div>

  <div>
    <a href="{% url 'users_update' user.id %}"><button class="btn">Edit My Profile</button></a>
<br>
    <a href="{% url 'change_password' %}"><button class="btn">change Password</button></a>


  </div>
</div>


      


      </div>
      </div>
  </div>
  <div>

  
{% endblock %}