{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Karat </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="{% static 'JS/script.js' %}"></script>

</head>
<!-- <style>
  .brand-logo{
  pointer-events: none;
}

.logoE{
  pointer-events:visible;
}
</style> -->
<body>
  <header class="navbar-fixed">
    <nav class="nav">
      <div class="nav-wrapper">
        <ul>
          <li class="left brand-logo">
              <a href="{% url 'home' %}">
                <img src="../static/logo/logo.png"  width="60" height="60">
              </a>
          </li>
        </ul>

        <ul class="right">
          {% if user.is_authenticated %}
          <li><a href="{% url 'shop_create' %}">Add a Shop</a></li>
          <li><a href="{% url 'index' %}">View All Shops</a></li>
          <li><a href="{% url 'products_create' %}">Add a Product</a></li>
          <li><a href="{% url 'products_index' %}">All Products</a></li>
          <li><a href="{% url 'categories' %}">Categories</a></li>
          <li><a href="{% url 'my_products' %}">My Products</a></li>
          <li><a href="{% url 'profile' %}"> My Profile </a></li>
          <li><a href="{% url 'cart' user.id%}">Cart</a></li>
          <li><a href="{% url 'adduser' %}"> Add User </a></li>
          <li><a href="{% url 'logout' %}"> LogOut</a></li>
          Welcome {{ user.username}}
          {% else %}
          <li><a href="{% url 'login' %}"> Login </a></li>
          <li><a href="{% url 'signup' %}"> Signup </a></li>
          {% endif %}
        </ul>

      </div>
    </nav>
  </header>

  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  
  <footer class="page-footer">
    <div class="right">
      All Rights Reserved &copy; 2023 karat
    </div>
  </footer>

</body>

</html>