{% extends 'base.html' %}

{% block content %}

<!-- <figure >
  <figure id="apibar" > -->
<marquee direction="right" class="news" >
<div class="apis">
  <h6 class="api"> 24K : <span class="greenn">{{gold_prices.price_gram_24k}}</span> BD </h6>
  <h6 class="api"> 22K :
    <span class="greenn">
      {{ gold_prices.price_gram_22k }}</span> BD
  </h6>
  <h6 class="api"> 21K :
    <span class="greenn">
      {{ gold_prices.price_gram_21k }}</span> BD
  </h6>
  <h6 class="api"> 18K :
    <span class="greenn">
      {{ gold_prices.price_gram_18k }}</span> BD
  </h6>
</div>
</marquee>
<!-- </figure>
</figure> -->

<div id="current_date"></p>
  <script>
  document.getElementById("current_date").innerHTML = Date();
  </script>

<figure id="container">
  <figure id="slideshow">
    <img src="https://i.postimg.cc/zD7PCMTw/Screenshot-2023-11-12-170702.png" alt>
    <img src="https://i.postimg.cc/mgzpwLsx/Screenshot-2023-11-12-172923.png" alt>
    <img src="https://i.postimg.cc/yYbP8zzd/Screenshot-2023-11-12-172438.png" alt>
  </figure>
</figure>

{% endblock %}