{% extends 'base.html' %}

{% block content %}

<figure id="container">
  <figure >
<h2> 24K : {{gold_prices.price_gram_24k}} BD </h2>
<h2> 22K :
  {{ gold_prices.price_gram_22k }} BD
</h2>
<h2> 21K :
  {{ gold_prices.price_gram_21k }} BD
</h2>
<h2> 18K :
  {{ gold_prices.price_gram_18k }} BD
</h2>
</figure>
</figure>


<figure id="container">
  <figure id="slideshow">
    <img src="https://i.postimg.cc/zD7PCMTw/Screenshot-2023-11-12-170702.png" alt>
    <img src="https://i.postimg.cc/mgzpwLsx/Screenshot-2023-11-12-172923.png" alt>
    <img src="https://i.postimg.cc/yYbP8zzd/Screenshot-2023-11-12-172438.png" alt>
  </figure>
</figure>

{% endblock %}