{% extends 'base.html' %}
{% block content %}
<h1 class="title">shop Details</h1>
<div class="shop_list">
  <div class="box-up" >
    <span>{{ shop.name }}</span>
    <p>CR Number: {{ shop.CR }}</p>
    <p>Email: {{ shop.Email }}</p>
    <p>Address: {{ shop.address }}</p>
    <p>Phone Number: {{ shop.phone }}</p>

    <div>
      <a href="{% url 'shops_update' shop.id %}">Edit</a>
      <a href="{% url 'shops_delete' shop.id %}">Delete</a>
    </div>
  </div>

        </div>
      <div>
        {% load static %}
        <img height="100px" src="{% static shop.logo|cut:'main_app/static/' %}">
      </div>
      </div>
      </div>
  </div>
  <div>

  
{% endblock %}